ALU.pdf
ALU.vhd.bak
Input.txt.bak
PIC16F84A.out.sdc
PIC16F84A.qsf.bak
PIC16F84A.qws
PIC16F84A.sdc.bak
PIC16F84A.vhd.bak
PIC16F84A_nativelink_simulation.rpt
PIC16F84A_tb.vhd.bak
PIC_package.vhd.bak
W_register.vhd.bak
c5_pin_model_dump.txt
db/
incremental_db/
output_files/
pic16f84a_datasheet.pdf
simulation/
serial_to_parallel.vhd.bak