ALU.pdf
ALU.vhd.bak
Input.txt.bak
PIC16F84A.out.sdc
PIC16F84A.qsf.bak
PIC16F84A.qws
PIC16F84A.sdc.bak
PIC16F84A.vhd.bak
PIC16F84A_nativelink_simulation.rpt
PIC16F84A_tb.vhd.bak
PIC_package.vhd.bak
W_register.vhd.bak
c5_pin_model_dump.txt
db/
incremental_db/
output_files/
pic16f84a_datasheet.pdf
simulation/
parallel_to_serial_output.vhd.bak
state_machine.vhd.bak
serial_to_parallel_instruction.vhd.bak
ram.vhd.bak
alu_output_demux.vhd.bak
alu_input_mux.vhd.bak
states_package.vhd.bak
status_register.vhd.bak
input_receive.vhd.bak
tb_input_parsed.txt
tb_result.txt
tb_result_formatted.txt
timer.vhd.bak
vsim.wlf
